{% extends 'base.html' %}
{% block title %}
    Lista artykułów
{% endblock %}

{% block content %}
    <h1>Lista artykułów</h1>
    <hr>
    {% for article in articles %}
        
        <a href="{% url 'article_detail' id=article.id %}"><h5>{{ article.title }}</h5></a>
        <p>Author: <span>{{ article.author.username }}</span></p>
        <p> 
            Likes: <span style="font-weight: bold;">{{ article.likes }}</span> 
            Dislikes: <span style="font-weight: bold;">{{ article.dislikes }}</span>
        </p>
        <br>
        <br>
    {% endfor %}
{% endblock %}